harbor:
  externalURL: https://harbor.patchdb.se

  existingSecretAdminPassword: "harbor-admin-password"
  existingSecretAdminPasswordKey: HARBOR_ADMIN_PASSWORD

  expose:
    type: clusterIP
    tls:
      enabled: false

  persistence:
    enabled: true
    persistentVolumeClaim:
      registry:
        size: 10Gi
      database:
        size: 2Gi
      redis:
        size: 1Gi
      jobservice:
        jobLog:
          size: 1Gi

  # Reduce footprint for a small cluster / POC.
  trivy:
    enabled: false
  notary:
    enabled: false
  chartmuseum:
    enabled: false


