apiVersion: argoproj.io/v1alpha1
kind: Application
metadata:
  name: apps-config
  namespace: argocd
  finalizers:
    - resources-finalizer.argocd.argoproj.io
spec:
  project: default
  source:
    repoURL: https://github.com/AlexHag/k8.git
    targetRevision: HEAD
    path: apps/apps-config/
  destination:
    server: https://kubernetes.default.svc
    namespace: default
  syncPolicy:
    automated:
      prune: true
      selfHeal: true
