argo-cd:
  dex:
    enabled: true
  notifications:
    enabled: false
  applicationSet:
    enabled: false
  server:
    extraArgs:
      - --insecure

  configs:
    cm:
      url: https://argocd.patchdb.se
      dex.config: |
        connectors:
          - type: oidc
            id: google
            name: Google
            config:
              issuer: https://accounts.google.com
              clientID: $argocd-google-oauth:client-id
              clientSecret: $argocd-google-oauth:client-secret
              redirectURI: https://argocd.patchdb.se/api/dex/callback
              scopes:
                - openid
                - profile
                - email

    rbac:
      policy.csv: |
        g, alex.hagdahl.jobb@gmail.com, role:admin
      policy.default: role:none
      scopes: "[email]"
